@import "tailwindcss";

@theme {
  --color-text: #040316;
  --color-background: #fbfbfe;
  --color-primary: #2f27ce;
  --color-secondary: #dddbff;
  --color-accent: #443dff;

  --font-pt-sans: "PT Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

html {
  @apply bg-background text-text font-open-sans;
}

.section {
  @apply px-4 sm:px-8 py-12 w-full max-w-6xl mx-auto;
}

.hint {
  @apply block mb-4 text-xs md:text-sm text-indigo-500 font-medium;
}

.primary-heading {
  @apply text-4xl md:text-6xl font-pt-sans font-semibold;
}

.primary-button {
  @apply bg-indigo-500 font-pt-sans text-white font-medium py-2 px-4 rounded transition-all hover:bg-indigo-600 active:scale-95;
}
